-let pageTitle = 'Home'
-let siteName = 'EDboilerplate'
-let twitterAccount = '@edteamlat'
-let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-let pageImage = ''
-var menu = ['Taller de emprendedores', 'Workshops', 'Expositores'];

//- Es un array para construir el menú principal
-
  let pages = [
    {
      title: 'Home',
      url: '/',
      child: []
    },
    {
      title: 'Taller de emprendedores',
      url: 'taller-de-emprendedores',
      child: []
    }
  ]
